#wpadminbar {
	background: #000;
	z-index: 99999;
}

body.admin-bar .header-main {
	top: var(--wp-admin--admin-bar--height, 32px);
}

#wp-admin-bar-sp-role-switcher span {
	&.on {
		background-color: #d63638;
		display: inline-block;
		box-sizing: border-box;
		margin: 1px 0 -1px 2px;
		padding: 0 5px;
		min-width: 18px;
		height: 18px;
		border-radius: 9px;
		color: #fff;
		font-size: 11px;
		line-height: 1.6;
		text-align: center;
		z-index: 26;

		&:before {
			content: '\f177';
			font-family: 'Dashicons'; /* stylelint-disable-line */
		}
	}

	&.off:before {
		content: '\f530';
		font-family: Dashicons; /* stylelint-disable-line */
	}
}

#wp-admin-bar-sp-role-switcher.menupop.hover ul li.sp-switch-back a {
	color: #d63638;
}

// Edit mode - scroll to module background
.editable-section {
	position: relative;
	cursor: pointer;
	outline: 1px dashed rgba(80, 80, 80, 0.4);
	background-color: rgba(0, 0, 0, 0.02);
	transition: background-color 0.5s ease, outline-color 0.5s ease;

	&:hover {
		background-color: rgba(0, 0, 0, 0.04);

		&::before {
			content: 'Edit this module';
			position: absolute;
			inset: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background: rgba(255, 255, 255, 0.6);
			backdrop-filter: blur(3px);
			font-size: 0.95rem;
			text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
			pointer-events: none;
			z-index: 1000;
			text-align: center;
			border-radius: 4px;
			opacity: 0;
			animation: classyFade 0.6s ease forwards;
		}
	}
}

@keyframes classyFade {
	from {
		opacity: 0;
		transform: scale(0.985);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
