//*******************************************************************************
// PLACEHOLDERS
//*******************************************************************************

// General extensions
%content {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	pointer-events: none;
}

// ##################################################

%reset_button {
	background: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	color: inherit;
	font-family: inherit;
}

// ##################################################

%abs_pos_fullwidth {
	height: 100%;
	left: 0;
	position: absolute;
	width: 100%;
	top: 0;
	pointer-events: none;
}

// ##################################################

%abs_pos_fullwidth_cursor {
	height: 100%;
	left: 0;
	position: absolute;
	width: 100%;
	top: 0;
}

// ##################################################

%flex_center_center {
	display: flex;
	align-items: center;
	justify-content: center;
}

// ##################################################

%sr_only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	visibility: inherit;
	clip: rect(0, 0, 0, 0);
}

// ##################################################
// FONT SIZES
// ##################################################

// General page text - Paragraph
%page_text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	font-feature-settings: 'ss02' on, 'ss09' on, 'ss10' on;
}

// ##################################################

%title {
	line-height: 1;
	font-weight: 700;
	letter-spacing: -0.03em;
}

// ##################################################

%fontsize24 {
	font-size: 24px;
	line-height: 1.2;

	// Mobile
	@media #{$breakpoint-xs-only} {
		font-size: 20px;
	}
}

// ##################################################

%fontsize20 {
	font-size: 20px;
}

// ##################################################

%fontsize18 {
	font-size: 18px;
}

// ##################################################

%fontsize16 {
	font-size: 16px;
}

// ##################################################

%fontsize14 {
	font-size: 14px;
}

// ##################################################

%fontsize12 {
	font-size: 12px;
}

// ##################################################

%fontsize10 {
	font-size: 10px;
}

// ##################################################

%title_h1 {
	@extend %title;
	font-size: 60px;
	line-height: 1;
	letter-spacing: -0.05em;

	// Small desktop and down
	@media #{$breakpoint-lg-down} {
		font-size: 52px;
	}

	// Tablet L and down
	@media #{$breakpoint-md-down} {
		font-size: 44px;
	}

	// Tablet P and down
	@media #{$breakpoint-sm-down} {
		font-size: 40px;
	}

	// Mobile
	@media #{$breakpoint-xs-only} {
		font-size: 34px;
	}
}

// ##################################################

%title_h2 {
	@extend %title;
	font-size: 48px;
	letter-spacing: -0.04em;

	// Tablet L and down
	@media #{$breakpoint-md-down} {
		font-size: 42px;
	}

	// Tablet P and down
	@media #{$breakpoint-sm-down} {
		font-size: 38px;
	}

	// Mobile
	@media #{$breakpoint-xs-only} {
		font-size: 32px;
	}
}

// ##################################################

%title_h3 {
	@extend %title;
	font-size: 36px;

	// Tablet P and down
	@media #{$breakpoint-sm-down} {
		font-size: 32px;
	}

	// Mobile
	@media #{$breakpoint-xs-only} {
		font-size: 28px;
	}
}

// ##################################################

%title_h4 {
	@extend %title;
	font-size: 30px;
	line-height: 1.25;

	// Mobile
	@media #{$breakpoint-xs-only} {
		font-size: 24px;
	}
}

// ##################################################

%title_h5 {
	@extend %title;
	font-size: 24px;
	line-height: 1.25;

	// Mobile
	@media #{$breakpoint-xs-only} {
		font-size: 20px;
	}
}

// ##################################################

%title_h6 {
	@extend %title;
	font-size: 20px;
	line-height: 1.25;

	// Mobile
	@media #{$breakpoint-xs-only} {
		font-size: 18px;
	}
}

// ##################################################

%title_7xl {
	@extend %title;
	font-size: 72px;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: -0.05em;
	font-family: var(--font-primary-condensed);

	// Small desktop and down
	@media #{$breakpoint-lg-down} {
		font-size: 62px;
	}

	// Tablet L and down
	@media #{$breakpoint-md-down} {
		font-size: 55px;
	}

	// Tablet P and down
	@media #{$breakpoint-sm-down} {
		font-size: 50px;
	}

	// Mobile
	@media #{$breakpoint-xs-only} {
		font-size: 42px;
	}
}

// ##################################################
// Focus styles
// ##################################################

%focus_style {
	outline-color: var(--color-focus);
	outline-style: solid;
	outline-offset: 0;
	outline-width: 2.5px;
	transition: outline-offset 0.2s linear;
}

// ##################################################
// ##################################################

%inherit_textstyles {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;

	line-height: inherit;
	text-transform: inherit;
	text-align: inherit;
	font-style: inherit;
	font-family: inherit;
}

// ##################################################

%backface {
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

// ##################################################

%bg_video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: $cgp_black;
}

// ##################################################

%hover_lines {
	// ##################################################
	// Bottom line

	// stylelint-disable-next-line
	&::before,
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 0;
		right: 0;
		height: 1px;
		background-color: currentColor;
		pointer-events: none;
	}

	// ##################################################

	// stylelint-disable-next-line
	&::before {
		transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
	}

	// ##################################################

	// stylelint-disable-next-line
	&::after {
		transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
	}

	// stylelint-disable-next-line
	&.#{$class_active},
	&.active,
	&:hover {
		// stylelint-disable-next-line
		&::before,
		&::after {
			width: 100%;
			left: 0;
		}
	}
}

// ##################################################

%hover_lines_multiline {
	background-image: linear-gradient(var(--color-black), var(--color-black));
	background-size: 0% 2px;
	background-repeat: no-repeat;
	transition: background-size 0.3s ease, color 0.3s ease;
	background-position: 0 100%;

	// stylelint-disable-next-line
	&:hover {
		background-size: 100% 2px;
	}
}

// ##################################################

%enable_scrollbar_sync {
	// stylelint-disable-next-line
	.swiper-scrollbar-drag {
		// Mobile
		@media #{$breakpoint-xs-only} {
			display: none;
		}
	}

	// ##################################################

	// stylelint-disable-next-line
	.swiper-scrollbar-thumb {
		height: 4px;
		width: 50px;
		position: relative;
		top: 0;
		cursor: pointer;
		background-color: var(--color-gray-900);
		will-change: left;
		border-radius: 8px;

		// Tablet L and Up
		@media #{$breakpoint-sm-up} {
			display: none;
		}

		// Clickable Area
		// stylelint-disable-next-line
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transform: scaleY(8);
		}
	}

	// ##################################################

	// stylelint-disable-next-line
	&.swiper-scrollbar-lock {
		// Mobile
		@media #{$breakpoint-xs-only} {
			display: block;
		}
	}
}
