// ##################################################
// Spacing
// ##################################################

// Margin Top

.mt {
	&-160 {
		margin-top: 160px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-top: 120px;
		}

		// Tablet P
		@media #{$breakpoint-sm-down} {
			margin-top: 80px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			margin-top: 60px;
		}
	}

	// ##################################################

	&-150 {
		margin-top: 150px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-top: 120px;
		}

		// Tablet P
		@media #{$breakpoint-sm-down} {
			margin-top: 80px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			margin-top: 60px;
		}
	}

	// ##################################################

	&-120 {
		margin-top: 120px;

		// Small desktop and down
		@media #{$breakpoint-lg-down} {
			margin-top: 100px;
		}

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-top: 80px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			margin-top: 60px;
		}
	}

	// ##################################################

	&-100 {
		margin-top: 100px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-top: 80px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			margin-top: 60px;
		}
	}

	// ##################################################

	&-96 {
		margin-top: 96px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-top: 80px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			margin-top: 60px;
		}
	}

	// ##################################################

	&-90 {
		margin-top: 90px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-top: 70px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			margin-top: 60px;
		}
	}

	// ##################################################

	&-80 {
		margin-top: 80px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-top: 50px;
		}

		// Tablet P
		@media #{$breakpoint-sm-down} {
			margin-top: 40px;
		}
	}

	// ##################################################

	&-70 {
		margin-top: 70px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-top: 50px;
		}

		// Tablet P
		@media #{$breakpoint-sm-down} {
			margin-top: 40px;
		}
	}

	// ##################################################

	&-60 {
		margin-top: 60px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-top: 40px;
		}

		// Tablet P
		@media #{$breakpoint-sm-down} {
			margin-top: 30px;
		}
	}

	// ##################################################

	&-50 {
		margin-top: 50px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-top: 40px;
		}

		// Tablet P
		@media #{$breakpoint-sm-down} {
			margin-top: 30px;
		}
	}

	// ##################################################

	&-40 {
		margin-top: 40px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-top: 32px;
		}
	}

	// ##################################################

	&-32 {
		margin-top: 32px;

		// Tablet L and Down
		@media #{$breakpoint-md-down} {
			margin-top: 20px;
		}
	}

	// ##################################################

	&-30 {
		margin-top: 30px;

		// Tablet L and Down
		@media #{$breakpoint-md-down} {
			margin-top: 20px;
		}
	}

	// ##################################################

	&-24 {
		margin-top: 24px;

		// Tablet L and Down
		@media #{$breakpoint-md-down} {
			margin-top: 15px;
		}
	}

	// ##################################################

	&-20 {
		margin-top: 20px;

		// Mobile
		@media #{$breakpoint-xs-only} {
			margin-top: 12px;
		}
	}

	// ##################################################

	&-16 {
		margin-top: 16px;

		// Mobile
		@media #{$breakpoint-xs-only} {
			margin-top: 8px;
		}
	}

	// ##################################################

	&-12 {
		margin-top: 12px;
	}
}

// Margin Bottom

.mb {
	// ##################################################

	&-160 {
		margin-bottom: 160px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-bottom: 120px;
		}

		// Tablet P
		@media #{$breakpoint-sm-down} {
			margin-bottom: 80px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			margin-bottom: 60px;
		}
	}

	// ##################################################

	&-150 {
		margin-bottom: 150px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-bottom: 120px;
		}

		// Tablet P
		@media #{$breakpoint-sm-down} {
			margin-bottom: 80px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			margin-bottom: 60px;
		}
	}

	// ##################################################

	&-120 {
		margin-bottom: 120px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-bottom: 80px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			margin-bottom: 60px;
		}
	}

	// ##################################################

	&-100 {
		margin-bottom: 100px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-bottom: 80px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			margin-bottom: 60px;
		}
	}

	// ##################################################

	&-96 {
		margin-bottom: 96px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-bottom: 80px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			margin-bottom: 60px;
		}
	}

	// ##################################################

	&-90 {
		margin-bottom: 90px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-bottom: 70px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			margin-bottom: 60px;
		}
	}

	// ##################################################

	&-80 {
		margin-bottom: 80px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-bottom: 50px;
		}

		// Tablet P
		@media #{$breakpoint-sm-down} {
			margin-bottom: 40px;
		}
	}

	// ##################################################

	&-70 {
		margin-bottom: 70px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-bottom: 50px;
		}

		// Tablet P
		@media #{$breakpoint-sm-down} {
			margin-bottom: 40px;
		}
	}

	// ##################################################

	&-60 {
		margin-bottom: 60px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-bottom: 40px;
		}

		// Tablet P
		@media #{$breakpoint-sm-down} {
			margin-bottom: 30px;
		}
	}

	// ##################################################

	&-50 {
		margin-bottom: 50px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-bottom: 40px;
		}

		// Tablet P
		@media #{$breakpoint-sm-down} {
			margin-bottom: 30px;
		}
	}

	// ##################################################

	&-40 {
		margin-bottom: 40px;

		// Tablet
		@media #{$breakpoint-md-down} {
			margin-bottom: 32px;
		}
	}

	// ##################################################

	&-32 {
		margin-bottom: 32px;

		// Tablet L and Down
		@media #{$breakpoint-md-down} {
			margin-bottom: 20px;
		}
	}

	// ##################################################

	&-30 {
		margin-bottom: 30px;

		// Tablet L and Down
		@media #{$breakpoint-md-down} {
			margin-bottom: 20px;
		}
	}

	// ##################################################

	&-24 {
		margin-bottom: 24px;
	}

	// ##################################################

	&-20 {
		margin-bottom: 20px;
	}

	// ##################################################

	&-16 {
		margin-bottom: 16px;
	}

	// ##################################################

	&-12 {
		margin-bottom: 12px;
	}

	// ##################################################

	&-6 {
		margin-bottom: 6px;
	}
}
